In [1]:
class TrieNode:
    def __init__(self):
        self.char = ''
        self.count = 0
        self.children = {}

root = TrieNode()

In [ ]:
def insert(word):
    node = root
    for char in word:
        found = False
        for child in node.children:
            if child.char == char:
                node = child
                node.count += 1
                found = True
                break

        if not found:
            new_node = TrieNode()
            new_node.char = char
            new_node.count = 1
            node.children.append(new_node)
            node = new_node

In [3]:
dataset = {
    "1": [5, 11, 13, 14, 15, 25],
    "2": [4, 5, 11, 14, 15, 25],
    "3": [1, 5, 11, 13],
    "4": [3, 11, 13, 21, 25],
    "5": [3, 5, 9, 11, 15, 15]
}

In [2]:
import pandas as pd

dataset = {
    "userId": ["1", "2", "3", "4", "5"],
    "movies_movies_rated_above_2": [[5, 11, 13, 14, 15, 25],
               [4, 5, 11, 14, 15, 25],
               [1, 5, 11, 13],
               [3, 11, 13, 21, 25],
               [3, 5, 9, 11, 15, 15]]
}

train_df = pd.DataFrame(dataset)

  userId movies_movies_rated_above_2
0      1     [5, 11, 13, 14, 15, 25]
1      2      [4, 5, 11, 14, 15, 25]
2      3              [1, 5, 11, 13]
3      4         [3, 11, 13, 21, 25]
4      5       [3, 5, 9, 11, 15, 15]